PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=cb83d59b6447486435675ee22f5aafe235eedf4a471b413dfa97bc43c6c69ac1
ACESS_TOKEN_EXPIRY=1d
REFRESH_TOEKN_SECRET=b8e28efe9bff31a1f2e53312814c1d1894fac8eea9cd9eb0f809294f814db640
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dvagtbrzf
CLOUDINARY_API_KEY=319792542192669
CLOUDINARY_API_KEY_SECRET=kIYAu2hW1EMMpvZeBgwFmaBAGqM
MONGODB_URL=mongodb+srv://Akhil123:Akhil@123@cluster0.ev2ywy6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
